
Cours/.vs/Cours-python/FileContentIndex/32785b6d-27ee-440e-bc63-0524dcc8fb6e.vsidx
Cours/.vs/Cours-python/FileContentIndex/99e7729e-2b22-44bb-85f5-94157a2a8984.vsidx
Cours/.vs/Cours-python/FileContentIndex/read.lock
Cours/.vs/Cours-python/v17/.suo
